:root{
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #f2f2f2;
    --secondary: #070606;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100;1,500;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark);
}
header {
    background-color: var(--dark);
}
.container {
    max-width: 1152px;
    margin: auto;
    
}
nav {
    display: flex;
    justify-content: space-around;
    padding-top: 30px ;
    text-align: center;
}
nav .left {
    display: flex;
}
a {
    text-decoration: none;
}
nav .menu-items a{
    color: var(--pure);
    margin-left: 35px;
    font-weight: bold;
}
.menu-items {
    justify-content: space-around;
    display: inline-block;
    padding-top: 13px;
    margin-left: 40px;
 } 
.menu-items a:hover {
    color: var(--primary);
}
.right #btn {
    padding: 15px 45px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 5px;
    transition: 0.5s;
}
.right #btn:hover {
    background-color: var(--pure);
}
.logo {
    cursor: pointer;
}
.row-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-2 {
    flex-basis: 50%;
}
.col-2 img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}
.col-2 h1 {
    font-size: 80px;
    line-height: 80px;
    margin: 30px 0;
    color: var(--pure);
}
.col-2 #h1 {
    color: var(--primary);
}
.col-2 h2 {
    font-size: 40px;
    color: var(--primary);
}
.col-2 p {
    font-size: 20px;
    color: var(--pure);
}
.col-2 button {
    display: inline-block;
    padding: 15px 50px;
    margin-top: 30px;
    background-color: var(--dark);
    color: var(--primary);
    border-color: var(--primary);
    cursor: pointer;
    font-weight: 900;
    transition: .5s;
    /* font-size: 18px; */
}
.col-2 button:hover {
    color: var(--dark);
    background: var(--pure);
}



/* ------------------footerrrr------------------- */

footer {
    background: var(--secondary);
    color: var(--primary);
    text-align: center;
    padding-top: 50px;
    line-height: 30px;
}
footer .logo a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--pure);
}
footer .logo a:hover {
    color: var(--primary);
}


@media only screen and (max-width: 810px)  {
    .row-1 {
        text-align: center;
    }
    footer .logo {
        text-align: center;
    }
}